/* code for Responsive site */
/* ------------------------------------------- */

/* ##Device = Desktops ##Screen = 1281px to higher resolution desktop */
@media (min-width: 1281px) {

    /* code in this block will be applied only if device width>1281 */
    #navbar {
         gap: 1050px;
    }
    #slogan
    {
        font-size: 3rem;
    }
    #products
    {
        display: flex;
    }
    #social_links
    {
        display: flex;
    }
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

    /* code in this block will be applied only if device width>1025 and <1280 */
    #navbar
    {
        gap: 850px;
    }
    #slogan
    {
        font-size: 3rem;
    }
    #products
    {
        display: flex;
    }
    #social_links
    {
        display: flex;
    }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    /* code in this block will be applied only if device width>768 and <1024 */
    #navbar
    {
        gap: 425px;
    }
    #slogan
    {
        font-size: 3rem;
    }
    #products
    {
        display: flex;
    }
}

/* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {

    /* code in this block will be applied only if device width>481 and <767 */
    #navbar {
         gap: 170px;
    }
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {

    /* code in this block will be applied only if device width>320 and <480 */
    #navbar
    {
        gap: 120px;
    }
    .poster_image
    {
        width: 320px;
    }
    #slogan
    {
        font-size: 1.8rem;
    }
    div>p
    {
        margin-bottom: 50px;
    }
    #sign_up
    {
        font-size: 10px;
    }
    .nav_link
    {
        font-size: 12px;
    } 
   
}

/* ======================================================================== */

*
{
    margin: 0px;
    padding: 0px;
}

.brand_logo
{
    margin-left: 25px;
}

#link_section
{
    display: flex;
    gap: 20px;
}

#navbar
{
    display: flex;
    background-color: #000000;
    color: white; 
}

.navbar
{
    overflow: hidden;
    /* background-color: #666666; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
}

li
{
    display: inline;
    margin: 10px;
}

.nav_link:link,
.nav_link:visited,
.nav_link:active
{
    margin-top: 26px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Montserrat Alternates', sans-serif;
}

#sign_up
{
    background-color: black;
    border:1px solid red;
    color: red;
    border-radius: 2px;

    padding: 5px;
    /* font-size: 16px; */
    font-weight: 800;
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#sign_up:hover
{
    background: rgba(255, 0, 0, 0.906);
    color: white;
}

/* poster section */

#poster_background
{
    /* background-color: #000000; */
    width: 100%;
    margin-top: 75px;
    height: 1600px;

}

div>img
{
    /* border:1px solid #ffffff; */
}

.poster_image
{  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background
{
    background-color: #000000;
}

/* slogan style */
#slogan
{
    margin-top: 40px;
    font-family: 'Fugaz One', cursive;
}

/* style for product */

.title
{
    font-size: 2rem;
    margin-top: 70px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}
.product_logo
{
    height: 100px;
    margin-bottom: 20px;
}
#products
{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
    /* display: flex; */
    gap: 110px;
    align-items: top;
}
.product_heading
{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.text
{
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
    font-size: 1.5rem;
    line-height: 1.6;
}


/* Register button */
#register
{   
    border-radius: 2px;
    background-color: rgba(255, 0, 0, 0.906);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    font-family: 'Montserrat Alternates', sans-serif;
    display: inline-block;
}
  
#register
{
    /* cursor: pointer; */
    /* position: relative; */
    /* transition: 0.5s; */
}
  
#register:after
{
    content: '»';
    position: absolute;
    /* position: relative; */
    opacity: 0;  
    top: 0px;
    right: 0px;
    transition: 0.5s;
}
  
#register:hover
{
    padding-right: 24px;
    padding-left: 8px;
}
  
#register:hover:after
{
    opacity: 1;
    right: 10px;
}

/* social */
#container
{   
    text-align: center;
    margin-bottom: 50px;
}
#social_links
{
    
    text-align: center;
    position: relative;
    min-height: 1px;
    /* display: flex; */
    gap: 100px;
    justify-content: center;

}

.social_icon
{
    display: inline-block;
    padding: 20px;
}

div>a:link,
div>a:visited,
div>a:active
{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
.icon
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.load-footer
{
    color: white;
    text-align: center;
    width: 100%;
    padding: 0px 0 20px;
    background: #000000;
    position: relative;
    z-index: 1;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.footer_logo
{
    margin-top: 10px;
}
